{% extends 'base.html' %}

{% block content %}

<div class="doctor-section">

    <h1>
        Hospital Departments
    </h1>

    <div class="doctor-grid">

        {% for department in departments %}

        <div class="doctor-card">

            {% if department.image %}
                <img src="{{ department.image.url }}">
            {% endif %}

            <div class="doctor-content">

                <h2>
                    {{ department.name }}
                </h2>

                <p>
                    {{ department.description|truncatewords:20 }}
                </p>

                <a href="{% url 'department_detail' department.id %}"
                   class="book-btn">

                    View Department

                </a>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}