{% extends 'base.html' %}

{% block content %}

<div class="doctor-section">

    <h1>
        {{ department.name }}
    </h1>

    <p style="margin-top:15px;">
        {{ department.description }}
    </p>

    <br><br>

    <h2>
        Doctors In This Department
    </h2>

    <div class="doctor-grid">

        {% for doctor in doctors %}

        <div class="doctor-card">

            {% if doctor.photo %}
                <img src="{{ doctor.photo.url }}">
            {% endif %}

            <div class="doctor-content">

                <h2>
                    Dr. {{ doctor.user.username }}
                </h2>

                <p>
                    {{ doctor.specialization }}
                </p>

                <a href="{% url 'doctor_detail' doctor.id %}"
                   class="book-btn">

                    View Doctor

                </a>

            </div>

        </div>

        {% empty %}

        <p>
            No doctors available.
        </p>

        {% endfor %}

    </div>

</div>

{% endblock %}